
<%= link_to "All Continents", root_path %>


<h3><%= @post.title %></h3>

<%= @post.content %>

<div>
    <% if @post.user == current_user %>
        <%= link_to "Edit", edit_post_path(@post) %> &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
</div>