<div class="toggle">
<%= link_to "All Continents", root_path %>
<%= link_to "New Post", new_destination_post_path(@destination) %>
</div>

<center>
<h1>All Posts for <%=@destination.name%></h1>
</center>

<table>
    <tbody>
    <tr>
        <th>Post Title</th>
        <th>Date Published</th>
    </tr>
    <% @posts.each do |post| %>
        <tr>
            <td><%= link_to post.title, destination_post_path(@destination, post) %></td>
            <td><%= post.created_at %></td>
            <% if current_user.admin %>
            <td><%= link_to "Delete", destroy_post_path(post), method: :delete %></td>
            <%end%>
        </tr>
    <% end %>
    </tbody>
</table>
